/* Structural Changes */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'NdebeSpacing-Regular', sans-serif;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.left-section {
  background-color: black;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto; /* Add overflow-x property to fix table cut-off */
}

.reference-chart {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.reference-chart th:first-child,
.reference-chart td:first-child {
  font-size: 24px; /* Change the font size of the first column */
}

.reference-chart th {
  font-size: 28px; /* Change the font size of the first row */
}

th, td {
  text-align: center;
  padding: 8px;
}

.right-section {
  background-color: #F9F8F8;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.footer {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) { /* Media query for mobile screens */
  .main-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
    height: auto;
  }
}

/* Design Changes */

@font-face {
  font-family: 'NdebeSpacing-Regular';
  src: local('NdebeSpacing-Regular'),
    url('/font/ndebespacing.otf') format('opentype'),
    url('font/ndebespacing.woff') format('woff');
  font-display: block;
}

#ndebe-h {
  font-size: 2.5rem;
  text-align: center;
}

#ndebe-p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
