/* Structural Changes */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'NdebePlain-Regular', sans-serif;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.left-section {
  background-color: black;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto; /* Add overflow-x property to fix table cut-off */
}

.reference-chart {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.reference-chart th:first-child,
.reference-chart td:first-child {
  font-size: 24px; /* Change the font size of the first column */
}

.reference-chart th {
  font-size: 28px; /* Change the font size of the first row */
}

th, td {
  text-align: center;
  padding: 8px;
}

.right-section {
  background-color: #edede9;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.typing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

/* Design Changes */

@font-face {
  font-family: 'NdebePlain-Regular';
  src: local('NdebePlain-Regular'),
    url('font/ndebeplain.woff2') format('woff2'),
    url('font/ndebeplain.woff') format('woff'),
    url('font/ndebeplain.otf') format('opentype');
  font-display: block;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#ndebe-h {
  font-size: 2.5rem;
  text-align: center;
}

#ndebe-p {
  font-size: 2rem;
  text-align: center;
}

/* Custom theme for the on-screen keyboard */
.input {
  font-family: 'NdebePlain-Regular', sans-serif;
  font-size: 3rem;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border: none;
}

.simple-keyboard {
  box-sizing: border-box;
  border: none;
}

.simple-keyboard.hg-theme-default.ndebe-theme {
  font-family: 'NdebePlain-Regular', sans-serif;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button {
  background: #000000;
  color: white;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.ogugu-numbers,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.ogugu-numbers {
  font-size: 1.75rem;
/*
  background: #69306d;
  color: white;
  */
/* #AE2012; for punctuation */
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.okpolo-stems,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.okpolo-stems {

  /*

  background: #001219;
  color: white;

  */
  padding-bottom:1%;
  font-size: 2rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.ome-radicals,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.ome-radicals {
  /*
  background: #386641;
  color: white;
  */
  padding-top:2%;
  font-size: 3rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.ekoye-enu,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.ekoye-enu {
  background: #FFA5AB;
  color: black;
  font-size: 2.25rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.ekoye-ntela,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.ekoye-ntela {
  background: #DA627D;
  color: white;
  font-size: 2.25rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.ekoye-ani,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.ekoye-ani {
  background: #A53860;
  color: white;
  font-size: 2.25rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.okpu-enu,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.okpu-enu {
  background: #FF9F1C;
  color: black;
  font-size: 2.25rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.okpu-ntela,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.okpu-ntela {
  background: #CA6702;
  color: white;
  font-size: 2.25rem;
}

.simple-keyboard.hg-layout-default.ndebe-theme .hg-button.okpu-ani,
.simple-keyboard.hg-layout-shift.ndebe-theme .hg-button.okpu-ani {
  background: #BB3E03;
  color: white;
  font-size: 2.25rem;
}

/* Mobile Settings */

@media (max-width: 768px) { /* Media query for mobile screens */
  .main-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    max-width: 100%;
    height: auto;
  }

  .simple-keyboard.hg-layout-default.ndebe-theme .hg-button,
  .simple-keyboard.hg-layout-shift.ndebe-theme .hg-button {
    font-size: 0.8rem;
  }

  .input,
  .simple-keyboard {
    max-width:90%
  }
}
